:root {
    --neutral-1: hsl(0 calc(1*10%) 100% /1);
    --neutral-1-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 100%;
    --neutral-2: hsl(0 calc(1*10%) 98.431% /1);
    --neutral-2-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 98.431%;
    --neutral-3: hsl(306 calc(1*16.667%) 97.059% /1);
    --neutral-3-hsl: 306 calc(var(--saturation-factor, 1)* 6.667%) 97.059%;
    --neutral-4: hsl(306 calc(1*14.348%) 95.49% /1);
    --neutral-4-hsl: 306 calc(var(--saturation-factor, 1)* 4.348%) 95.49%;
    --neutral-5: hsl(306 calc(1*13.226%) 93.922% /1);
    --neutral-5-hsl: 306 calc(var(--saturation-factor, 1)* 3.226%) 93.922%;
    --neutral-6: hsl(306 calc(1*15.263%) 92.549% /1);
    --neutral-6-hsl: 306 calc(var(--saturation-factor, 1)* 5.263%) 92.549%;
    --neutral-7: hsl(306 calc(1*14.348%) 90.98% /1);
    --neutral-7-hsl: 306 calc(var(--saturation-factor, 1)* 4.348%) 90.98%;
    --neutral-8: hsl(306 calc(1*15.66%) 89.608% /1);
    --neutral-8-hsl: 306 calc(var(--saturation-factor, 1)* 5.66%) 89.608%;
    --neutral-9: hsl(306 calc(1*14.918%) 88.039% /1);
    --neutral-9-hsl: 306 calc(var(--saturation-factor, 1)* 4.918%) 88.039%;
    --neutral-10: hsl(306 calc(1*12.941%) 86.667% /1);
    --neutral-10-hsl: 306 calc(var(--saturation-factor, 1)* 2.941%) 86.667%;
    --neutral-11: hsl(306 calc(1*14%) 85.294% /1);
    --neutral-11-hsl: 306 calc(var(--saturation-factor, 1)* 4%) 85.294%;
    --neutral-12: hsl(306 calc(1*13.614%) 83.725% /1);
    --neutral-12-hsl: 306 calc(var(--saturation-factor, 1)* 3.614%) 83.725%;
    --neutral-13: hsl(306 calc(1*14.444%) 82.353% /1);
    --neutral-13-hsl: 306 calc(var(--saturation-factor, 1)* 4.444%) 82.353%;
    --neutral-14: hsl(306 calc(1*14.082%) 80.784% /1);
    --neutral-14-hsl: 306 calc(var(--saturation-factor, 1)* 4.082%) 80.784%;
    --neutral-15: hsl(306 calc(1*14.762%) 79.412% /1);
    --neutral-15-hsl: 306 calc(var(--saturation-factor, 1)* 4.762%) 79.412%;
    --neutral-16: hsl(306 calc(1*13.571%) 78.039% /1);
    --neutral-16-hsl: 306 calc(var(--saturation-factor, 1)* 3.571%) 78.039%;
    --neutral-17: hsl(306 calc(1*14.202%) 76.667% /1);
    --neutral-17-hsl: 306 calc(var(--saturation-factor, 1)* 4.202%) 76.667%;
    --neutral-18: hsl(306 calc(1*13.937%) 75.098% /1);
    --neutral-18-hsl: 306 calc(var(--saturation-factor, 1)* 3.937%) 75.098%;
    --neutral-19: hsl(306 calc(1*14.478%) 73.725% /1);
    --neutral-19-hsl: 306 calc(var(--saturation-factor, 1)* 4.478%) 73.725%;
    --neutral-20: hsl(230 calc(1*14.225%) 72.157% /1);
    --neutral-20-hsl: 230 calc(var(--saturation-factor, 1)* 4.225%) 72.157%;
    --neutral-21: hsl(306 calc(1*14.054%) 70.98% /1);
    --neutral-21-hsl: 306 calc(var(--saturation-factor, 1)* 4.054%) 70.98%;
    --neutral-22: hsl(306 calc(1*13.846%) 69.412% /1);
    --neutral-22-hsl: 306 calc(var(--saturation-factor, 1)* 3.846%) 69.412%;
    --neutral-23: hsl(306 calc(1*14.294%) 68.039% /1);
    --neutral-23-hsl: 306 calc(var(--saturation-factor, 1)* 4.294%) 68.039%;
    --neutral-24: hsl(306 calc(1*13.529%) 66.667% /1);
    --neutral-24-hsl: 306 calc(var(--saturation-factor, 1)* 3.529%) 66.667%;
    --neutral-25: hsl(306 calc(1*13.955%) 65.294% /1);
    --neutral-25-hsl: 306 calc(var(--saturation-factor, 1)* 3.955%) 65.294%;
    --neutral-26: hsl(306 calc(1*13.784%) 63.725% /1);
    --neutral-26-hsl: 306 calc(var(--saturation-factor, 1)* 3.784%) 63.725%;
    --neutral-27: hsl(306 calc(1*13.665%) 62.549% /1);
    --neutral-27-hsl: 306 calc(var(--saturation-factor, 1)* 3.665%) 62.549%;
    --neutral-28: hsl(306 calc(1*13.518%) 60.98% /1);
    --neutral-28-hsl: 306 calc(var(--saturation-factor, 1)* 3.518%) 60.98%;
    --neutral-29: hsl(306 calc(1*13.883%) 59.608% /1);
    --neutral-29-hsl: 306 calc(var(--saturation-factor, 1)* 3.883%) 59.608%;
    --neutral-30: hsl(306 calc(1*13.774%) 58.431% /1);
    --neutral-30-hsl: 306 calc(var(--saturation-factor, 1)* 3.774%) 58.431%;
    --neutral-31: hsl(306 calc(1*13.636%) 56.863% /1);
    --neutral-31-hsl: 306 calc(var(--saturation-factor, 1)* 3.636%) 56.863%;
    --neutral-32: hsl(306 calc(1*13.54%) 55.686% /1);
    --neutral-32-hsl: 306 calc(var(--saturation-factor, 1)* 3.54%) 55.686%;
    --neutral-33: hsl(306 calc(1*13.419%) 54.118% /1);
    --neutral-33-hsl: 306 calc(var(--saturation-factor, 1)* 3.419%) 54.118%;
    --neutral-34: hsl(306 calc(1*13.333%) 52.941% /1);
    --neutral-34-hsl: 306 calc(var(--saturation-factor, 1)* 3.333%) 52.941%;
    --neutral-35: hsl(306 calc(1*13.644%) 51.569% /1);
    --neutral-35-hsl: 306 calc(var(--saturation-factor, 1)* 3.644%) 51.569%;
    --neutral-36: hsl(306 calc(1*13.15%) 50.196% /1);
    --neutral-36-hsl: 306 calc(var(--saturation-factor, 1)* 3.15%) 50.196%;
    --neutral-37: hsl(306 calc(1*13.614%) 48.824% /1);
    --neutral-37-hsl: 306 calc(var(--saturation-factor, 1)* 3.614%) 48.824%;
    --neutral-38: hsl(306 calc(1*13.704%) 47.647% /1);
    --neutral-38-hsl: 306 calc(var(--saturation-factor, 1)* 3.704%) 47.647%;
    --neutral-39: hsl(306 calc(1*13.83%) 46.078% /1);
    --neutral-39-hsl: 306 calc(var(--saturation-factor, 1)* 3.83%) 46.078%;
    --neutral-40: hsl(306 calc(1*13.93%) 44.902% /1);
    --neutral-40-hsl: 306 calc(var(--saturation-factor, 1)* 3.93%) 44.902%;
    --neutral-41: hsl(306 calc(1*14.505%) 43.529% /1);
    --neutral-41-hsl: 306 calc(var(--saturation-factor, 1)* 4.505%) 43.529%;
    --neutral-42: hsl(306 calc(1*14.63%) 42.353% /1);
    --neutral-42-hsl: 306 calc(var(--saturation-factor, 1)* 4.63%) 42.353%;
    --neutral-43: hsl(306 calc(1*14.306%) 40.98% /1);
    --neutral-43-hsl: 306 calc(var(--saturation-factor, 1)* 4.306%) 40.98%;
    --neutral-44: hsl(306 calc(1*14.95%) 39.608% /1);
    --neutral-44-hsl: 306 calc(var(--saturation-factor, 1)* 4.95%) 39.608%;
    --neutral-45: hsl(306 calc(1*15.102%) 38.431% /1);
    --neutral-45-hsl: 306 calc(var(--saturation-factor, 1)* 5.102%) 38.431%;
    --neutral-46: hsl(306 calc(1*15.263%) 37.255% /1);
    --neutral-46-hsl: 306 calc(var(--saturation-factor, 1)* 5.263%) 37.255%;
    --neutral-47: hsl(306 calc(1*15.495%) 35.686% /1);
    --neutral-47-hsl: 306 calc(var(--saturation-factor, 1)* 5.495%) 35.686%;
    --neutral-48: hsl(306 calc(1*15.682%) 34.51% /1);
    --neutral-48-hsl: 306 calc(var(--saturation-factor, 1)* 5.682%) 34.51%;
    --neutral-49: hsl(306 calc(1*15.882%) 33.333% /1);
    --neutral-49-hsl: 306 calc(var(--saturation-factor, 1)* 5.882%) 33.333%;
    --neutral-50: hsl(306 calc(1*15.882%) 33.333% /1);
    --neutral-50-hsl: 306 calc(var(--saturation-factor, 1)* 5.882%) 33.333%;
    --neutral-51: hsl(306 calc(1*16.024%) 32.549% /1);
    --neutral-51-hsl: 306 calc(var(--saturation-factor, 1)* 6.024%) 32.549%;
    --neutral-52: hsl(306 calc(1*15.521%) 31.961% /1);
    --neutral-52-hsl: 306 calc(var(--saturation-factor, 1)* 5.521%) 31.961%;
    --neutral-53: hsl(306 calc(1*16.25%) 31.373% /1);
    --neutral-53-hsl: 306 calc(var(--saturation-factor, 1)* 6.25%) 31.373%;
    --neutral-54: hsl(306 calc(1*15.732%) 30.784% /1);
    --neutral-54-hsl: 306 calc(var(--saturation-factor, 1)* 5.732%) 30.784%;
    --neutral-55: hsl(306 calc(1*15.882%) 30% /1);
    --neutral-55-hsl: 306 calc(var(--saturation-factor, 1)* 5.882%) 30%;
    --neutral-56: hsl(233.333 calc(1*16.04%) 29.216% /1);
    --neutral-56-hsl: 233.333 calc(var(--saturation-factor, 1)* 6.04%) 29.216%;
    --neutral-57: hsl(306 calc(1*15.479%) 28.627% /1);
    --neutral-57-hsl: 306 calc(var(--saturation-factor, 1)* 5.479%) 28.627%;
    --neutral-58: hsl(306 calc(1*16.294%) 28.039% /1);
    --neutral-58-hsl: 306 calc(var(--saturation-factor, 1)* 6.294%) 28.039%;
    --neutral-59: hsl(306 calc(1*15.714%) 27.451% /1);
    --neutral-59-hsl: 306 calc(var(--saturation-factor, 1)* 5.714%) 27.451%;
    --neutral-60: hsl(306 calc(1*15.882%) 26.667% /1);
    --neutral-60-hsl: 306 calc(var(--saturation-factor, 1)* 5.882%) 26.667%;
    --neutral-61: hsl(306 calc(1*15.263%) 26.078% /1);
    --neutral-61-hsl: 306 calc(var(--saturation-factor, 1)* 5.263%) 26.078%;
    --neutral-62: hsl(306 calc(1*16.154%) 25.49% /1);
    --neutral-62-hsl: 306 calc(var(--saturation-factor, 1)* 6.154%) 25.49%;
    --neutral-63: hsl(306 calc(1*15.512%) 24.902% /1);
    --neutral-63-hsl: 306 calc(var(--saturation-factor, 1)* 5.512%) 24.902%;
    --neutral-64: hsl(306 calc(1*15.691%) 24.118% /1);
    --neutral-64-hsl: 306 calc(var(--saturation-factor, 1)* 5.691%) 24.118%;
    --neutral-65: hsl(306 calc(1*15.785%) 23.725% /1);
    --neutral-65-hsl: 306 calc(var(--saturation-factor, 1)* 5.785%) 23.725%;
    --neutral-66: hsl(306 calc(1*15.983%) 22.941% /1);
    --neutral-66-hsl: 306 calc(var(--saturation-factor, 1)* 5.983%) 22.941%;
    --neutral-67: hsl(306 calc(1*15.263%) 22.353% /1);
    --neutral-67-hsl: 306 calc(var(--saturation-factor, 1)* 5.263%) 22.353%;
    --neutral-68: hsl(306 calc(1*15.455%) 21.569% /1);
    --neutral-68-hsl: 306 calc(var(--saturation-factor, 1)* 5.455%) 21.569%;
    --neutral-69: hsl(306 calc(1*15.556%) 21.176% /1);
    --neutral-69-hsl: 306 calc(var(--saturation-factor, 1)* 5.556%) 21.176%;
    --neutral-70: hsl(306 calc(1*15.769%) 20.392% /1);
    --neutral-70-hsl: 306 calc(var(--saturation-factor, 1)* 5.769%) 20.392%;
    --neutral-71: hsl(306 calc(1*14.95%) 19.804% /1);
    --neutral-71-hsl: 306 calc(var(--saturation-factor, 1)* 4.95%) 19.804%;
    --neutral-72: hsl(306 calc(1*16.122%) 19.216% /1);
    --neutral-72-hsl: 306 calc(var(--saturation-factor, 1)* 6.122%) 19.216%;
    --neutral-73: hsl(306 calc(1*15.263%) 18.627% /1);
    --neutral-73-hsl: 306 calc(var(--saturation-factor, 1)* 5.263%) 18.627%;
    --neutral-74: hsl(306 calc(1*16.522%) 18.039% /1);
    --neutral-74-hsl: 306 calc(var(--saturation-factor, 1)* 6.522%) 18.039%;
    --neutral-75: hsl(306 calc(1*15.618%) 17.451% /1);
    --neutral-75-hsl: 306 calc(var(--saturation-factor, 1)* 5.618%) 17.451%;
    --neutral-76: hsl(306 calc(1*15.618%) 16.932% /1);
    --neutral-76-hsl: 306 calc(var(--saturation-factor, 1)* 5.882%) 16.667%;
    --neutral-77: hsl(306 calc(1*16.024%) 16.275% /1);
    --neutral-77-hsl: 306 calc(var(--saturation-factor, 1)* 6.024%) 16.275%;
    --neutral-78: hsl(306 calc(1*15%) 15.686% /1);
    --neutral-78-hsl: 306 calc(var(--saturation-factor, 1)* 5%) 15.686%;
    --neutral-79: hsl(306 calc(1*16.494%) 15.098% /1);
    --neutral-79-hsl: 306 calc(var(--saturation-factor, 1)* 6.494%) 15.098%;
    --neutral-80: hsl(306 calc(1*15.405%) 14.51% /1);
    --neutral-80-hsl: 306 calc(var(--saturation-factor, 1)* 5.405%) 14.51%;
    --neutral-81: hsl(306 calc(1*15.714%) 13.725% /1);
    --neutral-81-hsl: 306 calc(var(--saturation-factor, 1)* 5.714%) 13.725%;
    --neutral-82: hsl(306 calc(1*15.882%) 13.333% /1);
    --neutral-82-hsl: 306 calc(var(--saturation-factor, 1)* 5.882%) 13.333%;
    --neutral-83: hsl(306 calc(1*14.615%) 12.745% /1);
    --neutral-83-hsl: 306 calc(var(--saturation-factor, 1)* 4.615%) 12.745%;
    --neutral-84: hsl(306 calc(1*16.452%) 12.157% /1);
    --neutral-84-hsl: 306 calc(var(--saturation-factor, 1)* 6.452%) 12.157%;
    --neutral-85: hsl(306 calc(1*15.085%) 11.569% /1);
    --neutral-85-hsl: 306 calc(var(--saturation-factor, 1)* 5.085%) 11.569%;
    --neutral-86: hsl(306 calc(1*17.143%) 10.98% /1);
    --neutral-86-hsl: 306 calc(var(--saturation-factor, 1)* 7.143%) 10.98%;
    --neutral-87: hsl(306 calc(1*15.66%) 10.392% /1);
    --neutral-87-hsl: 306 calc(var(--saturation-factor, 1)* 5.66%) 10.392%;
    --neutral-88: hsl(306 calc(1*15.882%) 10% /1);
    --neutral-88-hsl: 306 calc(var(--saturation-factor, 1)* 5.882%) 10%;
    --neutral-89: hsl(306 calc(1*16.383%) 9.216% /1);
    --neutral-89-hsl: 306 calc(var(--saturation-factor, 1)* 6.383%) 9.216%;
    --neutral-90: hsl(306 calc(1*16.667%) 8.824% /1);
    --neutral-90-hsl: 306 calc(var(--saturation-factor, 1)* 6.667%) 8.824%;
    --neutral-91: hsl(220 calc(1*17.317%) 8.039% /1);
    --neutral-91-hsl: 220 calc(var(--saturation-factor, 1)* 7.317%) 8.039%;
    --neutral-92: hsl(306 calc(1*15.263%) 7.451% /1);
    --neutral-92-hsl: 306 calc(var(--saturation-factor, 1)* 5.263%) 7.451%;
    --neutral-93: hsl(306 calc(1*15.882%) 6.667% /1);
    --neutral-93-hsl: 306 calc(var(--saturation-factor, 1)* 5.882%) 6.667%;
    --neutral-94: hsl(306 calc(1*16.667%) 5.882% /1);
    --neutral-94-hsl: 306 calc(var(--saturation-factor, 1)* 6.667%) 5.882%;
    --neutral-95: hsl(306 calc(1*17.692%) 5.098% /1);
    --neutral-95-hsl: 306 calc(var(--saturation-factor, 1)* 7.692%) 5.098%;
    --neutral-96: hsl(306 calc(1*19.091%) 4.314% /1);
    --neutral-96-hsl: 306 calc(var(--saturation-factor, 1)* 9.091%) 4.314%;
    --neutral-97: hsl(306 calc(1*112.5%) 3.137% /1);
    --neutral-97-hsl: 306 calc(var(--saturation-factor, 1)* 12.5%) 3.137%;
    --neutral-98: hsl(306 calc(1*19.091%) 2.157% /1);
    --neutral-98-hsl: 306 calc(var(--saturation-factor, 1)* 9.091%) 2.157%;
    --neutral-99: hsl(306 calc(1*22%) 0.98% /1);
    --neutral-99-hsl: 306 calc(var(--saturation-factor, 1)* 20%) 0.98%;
    --neutral-100: hsl(0 calc(1*10%) 0% /1);
    --neutral-100-hsl: 0 calc(var(--saturation-factor, 1)* 0%) 0%;
}
